{% extends 'main/sidenav.html' %}
{% load crispy_forms_tags %}
{% block content1 %}
{% load static %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<style>
th,td{

}
body {

}

.sidenavs {
height: 100%;
width: 200px;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: white;
overflow-x: hidden;
padding-top: 20px;
border-right: 1px solid #d9d9d9;
}

.sidenavs a {
padding: 6px 8px 6px 16px;
text-decoration: none;
font-size: 16px;
color: #818181;
display: block;
}


.main {
margin-left: 160px; / Same as the width of the sidenav /
font-size: 16px; / Increased text to enable scrolling /
padding: 0px 0px;
}
.sidenavs a:hover {
background-color: #f2f2f2;
}
</style>

</head>
<div class="sidenavs" style="margin-top:40px; margin-left:20px;">
<a href="{%url 'new_dev'%}" style="color:black;text-decoration:none;"><h2>Add Device</h2></a><hr>
<a href="#" style="color:black;text-decoration:none;"><img src="https://img.icons8.com/ios/20/000000/star.png">&nbsp;&nbsp;&nbsp;Devices</a>
<a href="#" style="color:black;text-decoration:none;"><img src="https://img.icons8.com/android/20/000000/checkmark.png">&nbsp;&nbsp;&nbsp; Done</a><br>
<span>
        <button class="btn btn-primary btn-rounded mb-4" style="color:white;text-decoration:none;width: 160px;height: 40px;" type="submit" name="viewbutton1" onclick="sea(this.value)"><p style="color:white;font-size:15px">Location</p><a data-toggle="modal" ></a></button>
    </span>
    <sapn><a href="" style="color:white;text-decoration:none;width: 160px;" class="btn btn-success btn-rounded mb-4" data-toggle="modal" data-target="#modalContactForm" style="float:right;font-size:15px;">Add Device</a>
</sapn>
<hr>

<a href="#"><img src="{%static 'images/green.png'%}" style="height:10px;">&nbsp;&nbsp;&nbsp;Active</a>
<a href="#"><img src="{%static 'images/purple.png'%}" style="height:10px;">&nbsp;&nbsp;&nbsp;In Active</a>
<a href="#"><img src="{%static 'images/yelloo.png'%}" style="height:10px;">&nbsp;&nbsp;&nbsp;No Data</a>
<a href="#"><img src="{%static 'images/red.png'%}" style="height:10px;">&nbsp;&nbsp;&nbsp;Alert</a>
</div>

<div class="container-fluid  " ><div class="row"><div class="col-lg-6  col-md-9 col-sm-6" style=" margin-right: 0px; padding-left:220px;">
<h2 style="font-size: 25px">Incoming Device Requests:</h2>


<table id="tb1" class="table table-hover" Style="width:100%;">
<thead style="background-color:#d9d9d9">
<tr style="font-size:13px;">
<th>device_imei</th>
<th>From IP/Port</th>
<th>db_time</th>
<th>db_date</th>
</tr>
</thead>
<tbody style="font-size:14px;">


</tbody>
</table>
    <table class="table table-hover" Style="width:100%;">
<thead>

</thead>
</table>
</div>
<div class="col-lg-6  col-md-3 col-sm-6" style=" margin-right: 0px; padding-left:200px;">
    <h2 style="font-size: 25px">Connected Devices:</h2>
<table id="tb2" class="table table-hover" Style="width:100%;">
<thead style="background-color:#d9d9d9">
<tr style="font-size:13px;">
<th>Device Id</th>
<th>Vehicle Number</th>
<th>IMEI Number</th>
<th>Device Model</th>
</tr>
</thead>
<tbody style="font-size:14px;">
<tr>

</tr>
</tbody>
</table>
</div>
</div>
</div>

<div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header text-center">
<h4 class="modal-title w-100 font-weight-bold">Add Device here</h4>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body ">
<div class="md-form ">
<form class="small" method="post" action="{% url 'new_dev' %}">
{% csrf_token %}

<div >{{ form2|crispy}}</div>

<div class="form-group " style="text-align: center">
<input name="button-name2" type="submit" value="Add Device" class="btn btn-primary">
</div>


</form>


</div></div>

{# <div class="modal-footer d-flex justify-content-center">#}
{# <button class="btn btn-success">Send <i class="fas fa-paper-plane-o ml-1"></i></button>#}
{# </div>#}
</div>
</div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">


<div class="modal-body">
<p style="font-size: 18px">Are sure you want to delete device?</p>
</div>
<div class="modal-footer">
    <form class="small" name="reymond3"  method="GET" >
<button type="submit" class="button4 btn btn-danger">Yes</button>
<button type="button" class="btn btn-primary" data-dismiss="modal">N0</button>
    </form>
</div>
</div>
</div>
</div>


<script>
$(document).ready(function () {
    $.getJSON('http://13.235.62.229/login/',
    function (json) {

        var tr;
        if(json.length === 0){
            tr = $('<tr/>');
            tr.append("<td>" + "Not connected" + "</td>");
            tr.append("<td>" + "Not connected" + "</td>");
            tr.append("<td>" + "Not connected" + "</td>");
            tr.append("<td>" + "Not connected" + "</td>");
            $('#tb1').append(tr);
        }
        for (var i = 0; i < json.length; i++) {
            tr = $('<tr/>');
            tr.append("<td>" + json[i].device_imei + "</td>");
            tr.append("<td>" + json[i].incoming_addr + "</td>");
            tr.append("<td>" + json[i].db_time + "</td>");
            tr.append("<td>" + json[i].db_date + "</td>");
            $('#tb1').append(tr);
        }
    });

    $.getJSON('http://13.235.62.229/add_device/',
    function (json) {

        var tr;
        for (var i = 0; i < json.length; i++) {
            tr = $('<tr/>');
            tr.append("<td>" + json[i].Driver_Name + "</td>");
            tr.append("<td>" + json[i].Vehicle_Number + "</td>");
            tr.append("<td>" + json[i].IMEI_Number + "</td>");
            tr.append("<td>" + json[i].Device_Model + "</td>");
            $('#tb2').append(tr);
        }
    });
});
</script>
    <div class="modal fade" id="modalContactForm2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Current Vehicle Location</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body ">
        <div class="md-form ">
            <div id="map" style="height: 500px;width: 450px;"></div>
        </div></div>


    </div>
  </div>
</div>

    <script>
    var vehicleno="";
    var p;


  function sea(vehicleno){


$.ajax({
            type: "GET",
            url: 'ajax/',
            data: {},

            success: function(data){
            $('#modalContactForm2').modal('show');

          console.log(data.lat);

      var locations = data;
      var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 6,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) {
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i].latitude, locations[i].longitude),
        map: map,
          animation: google.maps.Animation.DROP,
          icon: '{% static 'images/redcar.png'%}'
      });


    map.setCenter(marker.getPosition());
    map.setZoom(21);

    google.maps.event.addListener(marker, 'mouseover', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i].device_imei);
          infowindow.open(map, marker);
        }
      })(marker, i));

    }
}
  });
}


    </script>
{##}
{#    <script type="text/javascript">#}
{#    var locations = [#}
{#      ['Bondi Beach', -33.890542, 151.274856, 4],#}
{#      ['Coogee Beach', -33.923036, 151.259052, 5],#}
{#      ['Cronulla Beach', -34.028249, 151.157507, 3],#}
{#      ['Manly Beach', -33.80010128657071, 151.28747820854187, 2],#}
{#      ['Maroubra Beach', -33.950198, 151.259302, 1]#}
{#    ];#}
{##}
{#    var map = new google.maps.Map(document.getElementById('map'), {#}
{#      zoom: 10,#}
{#      center: new google.maps.LatLng(-33.92, 151.25),#}
{#      mapTypeId: google.maps.MapTypeId.ROADMAP#}
{#    });#}
{##}
{#    var infowindow = new google.maps.InfoWindow();#}
{##}
{#    var marker, i;#}
{##}
{#    for (i = 0; i < locations.length; i++) {#}
{#      marker = new google.maps.Marker({#}
{#        position: new google.maps.LatLng(locations[i][1], locations[i][2]),#}
{#        map: map,#}
{#          icon: '{% static 'images/greencar.png'%}'#}
{#      });#}
{##}
{#      google.maps.event.addListener(marker, 'click', (function(marker, i) {#}
{#        return function() {#}
{#          infowindow.setContent(locations[i][0]);#}
{#          infowindow.open(map, marker);#}
{#        }#}
{#      })(marker, i));#}
{#    }#}
{#  </script>#}

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmXhcX8z4d4GxPxIiklwNvtqxcjZoWsWU&libraries=drawing"
             async defer></script>
{% endblock %}
