DateTime==4.3
Django
django-crispy-forms
djangorestframework
numpy
pandas
python-dateutil==2.8.0
six==1.12.0
sqlparse==0.3.0
zope.interface==4.6.0
requests
gmaps
names
python-googlegeocoder
virtualenv==16.7.2
django-background-tasks




