{% extends 'main/sidenav.html' %}
{% load static from staticfiles %}

{% block content1 %}

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
 <style>
     .p {

-webkit-appearance: button;
-webkit-writing-mode: horizontal-tb !important;
 display: inline-block;
 border: none;
margin:0px;
 border-radius: 8px;
padding:0px;
background-color: gray;
height:50px;
}

table td{
padding:7px;

}
table td a{
background-color:gray;
color:white;
height:50px;
font-size:12px;
width:auto;
text-align:center;

}
a:link {
  text-decoration: none;
  color:white;
}
a:hover{color:white;}
.card-header-pills{margin-left:20px;text-align:center;}
 </style>


<body>

 <div style="margin-top: 10px;text-align:center" class="container-fluid">
<div class="row">
            <div class="col-12">
 {% if object_list is null %}

               No results for <b>{{ request.GET.q }}</b>


     {% else %}
              <h3>Searched for</h3>  <b>{{ request.GET.q }}</b>

 <hr/>
            </div>
        </div>

 {% endif %}
     {% for i in object_list %}
  <div  class="card bg-dark text-white">
    <div class="card-body" >

    <table class="nav nav-pills card-header-pills" style="align:center;"><tr>
        <td class="nav-item">
        {% if i.status == 'Running'%}
            <a class="nav-link " href="#"><img src="{% static 'images/greenview.png' %}" style="width:40px;height:40px;"></a>
            {% elif i.status == 'Stop'  %}
            <a class="nav-link" href="#"><img src="{% static 'images/redview.png' %}" style="width:40px;height:40px;"></a>
            {% elif i.status == 'Idle' %}
            <a class="nav-link" href="#" ><img src="{% static 'images/blueview.png' %}" style="width:40px;height:40px;"></a>
            {% else %}
            <a class="nav-link " href="#"><img src="{% static 'images/blackview.png' %}" style="width:40px;height:40px;"></a>
        {% endif %}


</td>
<td  class="nav-item">
<a href="#"  class="nav-link" >Vehicle number<br><b>{{ i.plateNumber }}</b></a>
</td>
<td class="nav-item">
<a class="nav-link"  href="#" style="width:320px;"><b>{{ i.location}}</b></a>
</td>
<td class="nav-item">
<a class="nav-link " href="#" >Engine<br><b>{{ i.engine }}</b></a>
</td>
<td class="nav-item">
<a class="nav-link " href="#" >Date<br><b>9/10/2019</b></a>
</td>
<td class="nav-item">
<a class="nav-link " href="#" style="width:150px;">Name<br><b>{{ i.name }}</b></a>
</td>
<td class="nav-item">
<a class="nav-link " href="#" >Speed<br><b>{{ i.speed }}</b></a>
</td>
<td class="nav-item">
<a class="nav-link " href="#" style="width:110px;">Status<br><b>{{ i.status }}</b></a>
</td>
    <td class="nav-item">
        {% csrf_token %}
        <button class="p" id="pl"  value='{{ i.plateNumber }}' type="submit" name="viewbutton1" onclick="sea(this.value)"><a style="height:auto;width:auto;" data-toggle="modal" ><img src="{% static 'images/mapview.png' %}" style="width:25px;height:25px;"></a><br><p style="color:white;font-size:10px">Click Here</p></button>

</td>
    </tr>
</table>
 </div>
</div>
      {% endfor %}
 </div>
<div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Current Vehicle Location</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body ">
        <div class="md-form ">
            <div id="map" style="height: 500px;width: 450px;"></div>
        </div></div>


    </div>
  </div>
</div>

    <script>
    var vehicleno="";
    var p;


  function sea(vehicleno){


$.ajax({
            type: "GET",
            url: '/search/se',
            data: {vehicleno:vehicleno},

            success: function(data){
            $('#modalContactForm').modal('show');

          console.log(data.lat);
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat:data.lat,lng:data.long},
          zoom: 8
        });

            var marker = new google.maps.Marker({
            position: {lat:data.lat,lng:data.long},
            icon: '{% static 'images/greencar.png'%}',

            map:map
            });
}
  });
}
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmXhcX8z4d4GxPxIiklwNvtqxcjZoWsWU&libraries=drawing"
         async defer></script>

{% endblock %}