{% extends 'main/sidenav.html' %}
{% load static %}
{% block content1 %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.button1 {
font-size:2px;
}
</style>

<script>
    var vehicleno="";
    var p;
function sea(vehicleno){
$.ajax({
            type: "GET",
            url: '/search/se',
            data: {vehicleno:vehicleno},

            success: function(data){
            $('#modalContactForm2').modal('show');

          console.log(data.lat);
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat:data.lat,lng:data.long},
          zoom: 8
        });

            var marker = new google.maps.Marker({
            position: {lat:data.lat,lng:data.long},
            icon: '{% static 'images/greencar.png'%}',

            map:map
            });
}
  });
}
    </script>
<div class="container-fluid" >
<h3>Detections</h3>
<table class="table table-hover" Style="width:100%;">
<thead style="color:white;background-color:gray">
<tr>
<th>S.no</th>
<th>Vehicle Id</th>
<th>Driver Name</th>
<th>Detections Details</th>
<th>Contact</th>
<th>Priority</th>
<th>Action</th>
<th>Info</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>MBLHAR202JGG04159</td>
<td>Richard Packard</td>
<td>Towing Detection</td>
<td>9677684493</td>
<td><button type="button" class="btn btn-primary">HIGH</button></td>

<td><select class="browser-default">
    <option value="saab">None</option>
<option value="volvo">Solved</option>

</select></td>
<td><button data-toggle="modal" value="MBLHAR202JGG04159" data-target="#modalContactForm2" onclick="sea(this.value)"><img src="https://img.icons8.com/cotton/20/000000/worldwide-location--v2.png">&nbsp;Get Position</button></td>

</tr>
<tr>
<td>2</td>
<td>AT246456</td>
<td>William Patrik</td>
<td>Anamoly Detection</td>
<td>89298339273</td>
<td><button type="button" class="btn btn-warning">MEDIUM</button></td>
<td><select>
<option value="volvo">None</option>
<option value="saab">Solved</option>
</select></td>
<td><button data-toggle="modal" value="MBLHAR202JGG04159" data-target="#modalContactForm2"><img src="https://img.icons8.com/cotton/20/000000/worldwide-location--v2.png">&nbsp;Get Position</button></td>

</tr>
<tr>
<td>3</td>
<td>AT345656</td>
<td>Steve madison</td>
<td>Feul Wastage Detection</td>
<td>89338339273</td>
<td><button type="button" class="btn btn-success">LOW</button></td>
<td><select>
    <option value="saab">None</option>
<option value="volvo">Solved</option>
</select></td>
<td><button data-toggle="modal" value="MBLHAR202JGG04159" data-target="#modalContactForm2"><img src="https://img.icons8.com/cotton/20/000000/worldwide-location--v2.png">&nbsp;Get Position</button></td>
</tr>
</tbody>
</table>
</div>

<div class="modal fade" id="modalContactForm2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Current Vehicle Location</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body ">
        <div class="md-form ">
            <div id="map" style="height: 500px;width: 450px;"></div>
        </div></div>


    </div>
  </div>
</div>
<script>
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 28.7041, lng: 77.1025},
          zoom: 10
        });


          var myLatlng = new google.maps.LatLng(29.7041,80.1025);
            var mapOptions = {
            zoom: 4,
            center: myLatlng
            }
            var map = new google.maps.Map(document.getElementById("map"), mapOptions);

            var p = {lat: 28.7041, lng: 77.1025};
            var marker = new google.maps.Marker({
                position: p[0],
                icon: '{% static 'images/bluecar.png'%}',
                title:"Hello World!"
            });
marker.setMap(map);



        var drawingManager = new google.maps.drawing.DrawingManager({
          drawingMode: google.maps.drawing.OverlayType.MARKER,
          drawingControl: true,
          drawingControlOptions: {
            position: google.maps.ControlPosition.TOP_CENTER,
            drawingModes: ['marker', 'circle', 'polygon', 'polyline', 'rectangle']
          },
          markerOptions: {icon: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png'},
          circleOptions: {
            fillColor: '#ffff00',
            fillOpacity: 0.2,
            strokeWeight: 2,
              strokeColor:'',
            clickable: false,
            editable: true,
            zIndex: 1
          }
        });
        drawingManager.setMap(map);
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmXhcX8z4d4GxPxIiklwNvtqxcjZoWsWU&libraries=drawing&callback=initMap"
         async defer></script>
{% endblock %}