{% extends 'main/sidenav.html' %}
{% load crispy_forms_tags %}
{% block content1 %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<style>

.add{
float:right;
color: white;
font-size:15px;
width:140px;
height:40px;
padding-right:100px;
padding-left:60px;

}


.right{
float:right;
font-size:25px;
padding-right:150px;

}

.left{
float:left;
font-size:25px;
color:black;
padding-left:50px;
}
.left1{
float:left;
font-size:15px;
color:black;
margin-left:50px;
}
.left2{
float:left;
font-size:15px;
color:black;
margin-left:-135px;
}

.table {
font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%;

}

td, th {
border: 1px solid #dddddd;
text-align: center;

padding: 10px;
}

tr:nth-child(even) {
background-color: white;
}
</style>

<body>
<div>
<span class="left" STYLE="margin-top: 30px">TICKETS</span><span class="right"></span><br><br><br>

<span class="add"><button type="button" class="btn btn-primary btn-lg add" data-target="#ticketForm" data-toggle="modal">Add</button></span>


</div><br>
<hr>

<div class="container">
<div class="row">
<div class="col-lg-10">
<table class="table" style="width:1120px;">
<thead style="background-color:lightgray";>
<th>#</th>
<th>Ticket Name</th>
<th>Description</th>
<th>Ratings</th>
<th>Time</th>
<th>Action</th>
</thead>
<tbody>

{% for i in voot %}
<tr>
<td>{{ forloop.counter }}</td>
<td>{{ i.Ticket_Name }}</td>
<td>{{i.Description}}</td>
<td>{{i.priority}}</td>
<td>{{i.time}}</td>
<td><button type="button" class="btn btn-outline-info"  data-toggle="modal" data-target="#exampleModal" >Delete</button></td>
</tr>
{% endfor %}
</tbody>
</table>
</div>

<div class="col-lg-2">
<h5 style="font-size:12px;"><b>&nbsp;&nbsp;Ticket Date:</b>&nbsp;March 15,2016<br><br><b>&nbsp;&nbsp;Ticket Status:</b>&nbsp;
<button>Pending</button><br><br><b>&nbsp;&nbsp;Ticket ID:</b>&nbsp;#1234567</h5>
</div></div></div>

<div class="modal fade" id="ticketForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header text-center">
<h4 class="modal-title w-100 font-weight-bold">Add tickets here</h4>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body ">
<div class="md-form ">
<form class="small" method="post" action="{% url 'tickets' %}">
{% csrf_token %}

<div >{{ form3|crispy}}</div>

<div class="form-group " style="text-align: center">
<input name="button-name2" type="submit" value="Submit" class="btn btn-primary">
</div>


</form>


</div></div>
</div>
</div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">


      <div class="modal-body">
        <h4>Do you want to delete?</h4>
      </div>
      <div class="modal-footer">
        <form class="small" name="reymond3"  method="GET" ><button type="submit" name="reymond3"  class="btn btn-primary" >Yes</button></form>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">N0</button>
      </div>
    </div>
  </div>
</div>

<select id="select_dropdown">
  <option value="joshua">joshua</option>
  <option value="peter">peter</option>
  .... ....
</select>

<script>

    $(document).ready(function() {

        $('#select_dropdown').change(function () {
            var e = document.getElementById("select_dropdown");
            var value = e.options[e.selectedIndex].value;

            $.ajax({
                url: "{% url 'tickets' %}",
                type: "post",
                data: value,
                success: function (data) {

                    alert(data.result);
                }
            });
        });
    })


</script>


{% endblock %}